.checkbox.checkbox {
  left: 750.1211px;
  top: 338.0701px;
  width: 16.9591px;
  height: 16.9591px;
  border-radius: 73.7354px;
  backdrop-filter: blur(14.747081756591797px);
}
.unnamed {
  color: #fefefe;
  font-size: 9.5856px;
  line-height: 16.2218px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.4795px);
  top: calc(50% - 0.4795px);
  width: 20.6459px;
  height: 20.6459px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox2.checkbox2 {
  left: 1031.1211px;
  top: 237.0701px;
  width: 16.9591px;
  height: 16.9591px;
  border-radius: 73.7354px;
  backdrop-filter: blur(14.747081756591797px);
}
.unnamed2 {
  color: #fefefe;
  font-size: 9.5856px;
  line-height: 16.2218px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.4795px);
  top: calc(50% - 0.4795px);
  width: 20.6459px;
  height: 20.6459px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox3.checkbox3 {
  left: 883.8516px;
  top: 177.1642px;
  width: 19.0522px;
  height: 19.0522px;
  border-radius: 82.8356px;
  backdrop-filter: blur(16.56713104248047px);
}
.unnamed3 {
  color: #fefefe;
  font-size: 10.7686px;
  line-height: 18.2238px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.474px);
  top: calc(50% - -0.4739px);
  width: 23.194px;
  height: 23.194px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox4.checkbox4 {
  left: 501.8516px;
  top: 524.1641px;
  width: 19.0522px;
  height: 19.0522px;
  border-radius: 82.8356px;
  backdrop-filter: blur(16.56713104248047px);
}
.unnamed4 {
  color: #fefefe;
  font-size: 10.7686px;
  line-height: 18.2238px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.474px);
  top: calc(50% - -0.4739px);
  width: 23.194px;
  height: 23.194px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox5.checkbox5 {
  left: 533.9609px;
  top: 255.4994px;
  width: 19.0522px;
  height: 19.0522px;
  border-radius: 82.8356px;
  backdrop-filter: blur(16.56713104248047px);
}
.unnamed5 {
  color: #fefefe;
  font-size: 10.7686px;
  line-height: 18.2238px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.474px);
  top: calc(50% - -0.4739px);
  width: 23.194px;
  height: 23.194px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox6.checkbox6 {
  left: 1397.8516px;
  top: 220.1641px;
  width: 19.0522px;
  height: 19.0522px;
  border-radius: 82.8356px;
  backdrop-filter: blur(16.56713104248047px);
}
.unnamed6 {
  color: #fefefe;
  font-size: 10.7686px;
  line-height: 18.2238px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.474px);
  top: calc(50% - -0.4739px);
  width: 23.194px;
  height: 23.194px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.checkbox7.checkbox7 {
  left: 1171.8516px;
  top: 150.1642px;
  width: 19.0522px;
  height: 19.0522px;
  border-radius: 82.8356px;
  backdrop-filter: blur(16.56713104248047px);
}
.unnamed7 {
  color: #fefefe;
  font-size: 10.7686px;
  line-height: 18.2238px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.474px);
  top: calc(50% - -0.4739px);
  width: 23.194px;
  height: 23.194px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.root {
  position: relative;
  width: 1624px;
  height: 4249px;
  align-items: flex-start;
  background-color: #0e0f11;
  overflow: hidden;
}
.sticky {
  position: absolute;
  left: 0;
  right: 0;
  top: 3911px;
  height: 338px;
  align-items: flex-start;
  background-color: #16191d;
  box-shadow: inset 0px -1px 0px #383e47;
}
.Contact {
  color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 27px);
  top: 190px;
  width: 112px;
  height: 20px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.OsloOpen2024 {
  color: #fff;
  font-size: 36px;
  line-height: 64.3697px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9196px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 113px;
  width: 218px;
  height: 63px;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.magnific4IQrTG4Fc5hWAtZghOV1Ca {
  position: absolute;
  left: 16px;
  top: 97px;
  width: 1592px;
  height: 730px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/magnific4IQrTG4Fc5hWAtZghOV1Ca.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle57 {
  position: absolute;
  left: 16px;
  top: 97px;
  width: 1592px;
  height: 730px;
  border-radius: 8px;
  background-image: linear-gradient(9deg, #000000a8 0%, #0000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.window {
  position: absolute;
  left: calc(50% - 7.3152px);
  top: calc(50% - 1780.5311px);
  width: 153.3696px;
  height: 61.9377px;
  flex: 1;
  align-items: flex-start;
  border-radius: 33.9183px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(36.867706298828125px);
  transform: translate(-50%, -50%);
}
.text {
  position: absolute;
  left: 129.037px;
  top: 22.1206px;
  width: 77.4222px;
  height: 24.3327px;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.julie {
  position: absolute;
  left: 775.1914px;
  top: 329.2218px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 26.5447px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 26.5447px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #fff;
  font-size: 26.5447px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.window2 {
  position: absolute;
  left: calc(50% - -283.5px);
  top: calc(50% - 1881.5px);
  width: 173px;
  height: 62px;
  flex: 1;
  align-items: flex-start;
  border-radius: 33.9183px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(36.867706298828125px);
  transform: translate(-50%, -50%);
}
.text2 {
  position: absolute;
  left: 129.0371px;
  top: 22.1206px;
  width: 77.4222px;
  height: 24.3327px;
  flex-direction: column;
}
.textBlock4 {
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #fff;
  font-size: 13.2724px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.john {
  position: absolute;
  left: 1056.1914px;
  top: 228.2218px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 26.5447px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #fff;
  font-size: 26.5447px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #fff;
  font-size: 26.5447px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.osloOpenIsAMetaverseBasedOnRea {
  position: absolute;
  left: 67px;
  top: 626px;
  width: 433px;
  height: 85px;
  justify-content: center;
  flex-direction: column;
}
.textBlock7 {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.reserveYourKeyCard {
  color: #f2f2f2;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 64px;
  top: 564px;
  width: 438px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.linkButton {
  position: absolute;
  left: 64px;
  top: calc(50% - 1361px);
  width: 186px;
  height: 45px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #387df5;
  transform: translateY(-50%);
}
.getYourKeycard {
  color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 12px;
  width: 175px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.divFlex {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 844px;
  height: 696.5px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #1f2328;
  overflow: hidden;
}
.screenshot20231127164721 {
  position: absolute;
  left: -5px;
  top: -316px;
  width: 1919px;
  height: 1114px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot20231127164721.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  border-radius: 8px;
  background-image: linear-gradient(3.5deg, #16191de5 0%, #06060780 25%, #0000 50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.divFlex2 {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 100px;
  height: 102px;
}
.divTruncate {
  position: absolute;
  left: 48px;
  right: 1105px;
  top: 533px;
  height: 32px;
  align-items: flex-start;
  overflow: hidden;
}
.designYourOwnApartement {
  color: #f2f2f2;
  font-size: 30px;
  line-height: 150%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: -9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divTextWhite {
  position: absolute;
  left: 48px;
  right: 1095px;
  top: 575px;
  height: 85px;
  align-items: flex-start;
  overflow: hidden;
}
.everybodyNeedsAPlaceToCallThei {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 433px;
  height: 85px;
  justify-content: center;
  flex-direction: column;
}
.furniture {
  position: absolute;
  left: 17px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle58 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle59 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.wegnerYChair {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At18451 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At18451.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.furniture2 {
  position: absolute;
  left: 286px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle582 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle592 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download2 {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.tikiSofa {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At18514 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At18514.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.furniture3 {
  position: absolute;
  left: 555px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle583 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle593 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download3 {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.lordLamp {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At184512 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At184513.jpg'),
    /* webpackIgnore: true */ url('assets/screenshot2023123At184512.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
.furniture4 {
  position: absolute;
  left: 824px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle584 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle594 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download4 {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.arrayLamp {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At184513 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At184515.jpg'),
    /* webpackIgnore: true */ url('assets/screenshot2023123At184514.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
.furniture5 {
  position: absolute;
  left: 1093px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle585 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle595 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download5 {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.cloudLamp {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At184514 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At184517.jpg'),
    /* webpackIgnore: true */ url('assets/screenshot2023123At184516.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
.furniture6 {
  position: absolute;
  left: 1362px;
  top: 1558px;
  width: 245px;
  height: 307px;
  align-items: flex-start;
  gap: 10px;
}
.rectangle586 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 307px;
  border-radius: 8px;
  background-color: #1f2328;
}
.rectangle596 {
  position: absolute;
  left: 0;
  top: 246px;
  width: 245px;
  height: 61px;
  border-radius: 0 0 8px 8px;
  background-color: #2d3139;
}
.button_Download6 {
  position: absolute;
  left: 182px;
  top: 261px;
  width: 46px;
  height: 31px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.swayLamp {
  color: #a9b0bc;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 15px;
  top: 261px;
  width: 156px;
  height: 31px;
  justify-content: center;
  flex-direction: column;
}
.screenshot2023123At184515 {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 245px;
  border-radius: 8px 8px 0 0;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At184519.jpg'),
    /* webpackIgnore: true */ url('assets/screenshot2023123At184518.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
.divFlex3 {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 1883px;
  height: 697px;
  align-items: flex-start;
  border-radius: 12px;
}
.divFlex4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 696.5px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #1f2328;
  overflow: hidden;
}
.screenshot202311271647212 {
  position: absolute;
  left: -5px;
  top: -316px;
  width: 1919px;
  height: 1114px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot202311271647212.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divAbsolute2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  border-radius: 8px;
  background-image: linear-gradient(3.5deg, #16191de5 0%, #06060780 25%, #0000 50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.divFlex5 {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 100px;
  height: 102px;
  align-items: flex-start;
}
.divTruncate2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 38px;
  align-items: flex-start;
  overflow: hidden;
}
.innredDinEgenLeilighet {
  color: #f2f2f2;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.5px;
  width: 407px;
  height: 36px;
  justify-content: center;
  flex-direction: column;
}
.divTextWhite2 {
  position: absolute;
  left: 0;
  right: 1047.2px;
  top: 42px;
  height: 60px;
  align-items: flex-start;
  overflow: hidden;
}
.alleTrengerEnPlassAKalleSinEge {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 1px;
  width: 432.9px;
  height: 57px;
  justify-content: center;
  flex-direction: column;
}
.divFlex6 {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 48px;
  height: 36px;
  align-items: flex-start;
}
.linkButton2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 117.67px;
  height: 36px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #387df5;
}
.begynn {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1693px);
  top: 8px;
  width: 90.0086px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.screenshot20239191859581 {
  position: absolute;
  left: -165px;
  top: -61px;
  width: 1770px;
  height: 956px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot20239191859581.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divAbsolute3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  border-radius: 8px;
  background-image: linear-gradient(3.5deg, #16191de5 0%, #06060780 25%, #0000 50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.divFlex7 {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 100px;
  height: 102px;
  align-items: flex-start;
}
.divTruncate3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 38px;
  overflow: hidden;
}
.createYourOwnAvatar {
  color: #f2f2f2;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 60.5px;
  width: 407px;
  height: 36px;
  justify-content: center;
  flex-direction: column;
}
.buldYourOwnCharacterInTheMetav {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 103px;
  width: 432.9px;
  height: 57px;
  justify-content: center;
  flex-direction: column;
}
.divTextWhite3 {
  position: absolute;
  left: 0;
  right: 1047.2px;
  top: 42px;
  height: 60px;
  overflow: hidden;
}
.divFlex8 {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 48px;
  height: 36px;
}
.screenshot20239191853391 {
  position: absolute;
  left: 0;
  top: 236px;
  width: 1592px;
  height: 978px;
  border-radius: 10px;
}
._18 {
  position: absolute;
  left: 17px;
  top: 2599px;
  width: 1590px;
  height: 741px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}
._103DiscoDay1200x8342 {
  position: absolute;
  left: -597.2461px;
  top: -87px;
  width: 2350.8757px;
  height: 1165.4976px;
  background-image:/* webpackIgnore: true */ url('assets/_103DiscoDay1200x8342.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle56 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1590px;
  height: 741px;
  background-color: #0000003b;
}
.window3 {
  position: absolute;
  left: calc(50% - -162.9886px);
  top: calc(50% - 186.709px);
  width: 197.9772px;
  height: 69.5819px;
  flex: 1;
  align-items: flex-start;
  border-radius: 38.1044px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(41.417823791503906px);
  transform: translate(-50%, -50%);
}
.text3 {
  position: absolute;
  left: 144.9648px;
  top: 24.8507px;
  width: 86.9774px;
  height: 27.3358px;
  flex-direction: column;
}
.textBlock10 {
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.emilie {
  position: absolute;
  left: 912.0156px;
  top: 167.2239px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #fff;
  font-size: 29.8208px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #fff;
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.window4 {
  position: absolute;
  left: calc(50% - 202.0301px);
  top: calc(50% - -160.291px);
  width: 231.9398px;
  height: 69.5819px;
  flex: 1;
  align-items: flex-start;
  border-radius: 38.1044px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(41.417823791503906px);
  transform: translate(-50%, -50%);
}
.text4 {
  position: absolute;
  left: 144.9629px;
  top: 24.8507px;
  width: 86.9774px;
  height: 27.3358px;
  flex-direction: column;
}
.textBlock13 {
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.karoline {
  position: absolute;
  left: 530.0156px;
  top: 514.2239px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper4 {
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label7 {
  color: #fff;
  font-size: 29.8208px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #fff;
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.window5 {
  position: absolute;
  left: calc(50% - 186px);
  top: calc(50% - 108.5px);
  width: 200px;
  height: 70px;
  flex: 1;
  align-items: flex-start;
  border-radius: 38.1044px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(41.417823791503906px);
  transform: translate(-50%, -50%);
}
.text5 {
  position: absolute;
  left: 144.9629px;
  top: 24.8507px;
  width: 86.9774px;
  height: 27.3358px;
  flex-direction: column;
}
.textBlock16 {
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.aksel {
  position: absolute;
  left: 562.127px;
  top: 245.5591px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper5 {
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label9 {
  color: #fff;
  font-size: 29.8208px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label10 {
  color: #fff;
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.window6 {
  position: absolute;
  left: calc(50% - -679.0595px);
  top: calc(50% - 143.709px);
  width: 202.119px;
  height: 69.5819px;
  flex: 1;
  align-items: flex-start;
  border-radius: 38.1044px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(41.417823791503906px);
  transform: translate(-50%, -50%);
}
.text6 {
  position: absolute;
  left: 144.959px;
  top: 24.8507px;
  width: 86.9774px;
  height: 27.3358px;
  flex-direction: column;
}
.textBlock19 {
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sandra {
  position: absolute;
  left: 1426.0156px;
  top: 210.2239px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper6 {
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label11 {
  color: #fff;
  font-size: 29.8208px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #fff;
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.window7 {
  position: absolute;
  left: calc(50% - -448.0893px);
  top: calc(50% - 213.709px);
  width: 192.1787px;
  height: 69.5819px;
  flex: 1;
  align-items: flex-start;
  border-radius: 38.1044px;
  background-color: #80808012;
  overflow: hidden;
  backdrop-filter: blur(41.417823791503906px);
  transform: translate(-50%, -50%);
}
.text7 {
  position: absolute;
  left: 144.9629px;
  top: 24.8506px;
  width: 86.9774px;
  height: 27.3358px;
  flex-direction: column;
}
.textBlock22 {
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock24 {
  margin-top: 0;
  color: #fff;
  font-size: 14.9104px;
  line-height: 223.3359%;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.terje {
  position: absolute;
  left: 1200.0156px;
  top: 140.2239px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper7 {
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label13 {
  color: #fff;
  font-size: 29.8208px;
  font-weight: bold;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label14 {
  color: #fff;
  font-size: 29.8208px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.joinEvents {
  color: #f2f2f2;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 48px;
  top: 603px;
  width: 407px;
  height: 36px;
  justify-content: center;
  flex-direction: column;
}
.findOutWhatIsHappeningAndJoinE {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 48px;
  top: 645.5px;
  width: 432.9px;
  height: 57px;
  justify-content: center;
  flex-direction: column;
}
.divGrid {
  position: absolute;
  left: 12px;
  right: 20px;
  top: 3366px;
  height: 441px;
  align-items: flex-start;
}
.link {
  position: absolute;
  left: 0;
  right: 808px;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #1f2328;
  overflow: hidden;
}
.divFlex9 {
  position: absolute;
  left: 0;
  right: 0;
  top: 341px;
  height: 100px;
  align-items: flex-start;
  background-color: #2d3139;
}
.divTruncate4 {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 16px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.parkteateret {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 159.2734px;
  height: 21px;
  justify-content: center;
  flex-direction: column;
}
.divLineClamp2 {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 48px;
  height: 36px;
  align-items: flex-start;
  overflow: hidden;
}
.jUNGSloIgjennomMedSangenVeraI2 {
  color: #d4d8dd;
  font-size: 12px;
  line-height: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: -27px;
  width: 746px;
  height: 95px;
  justify-content: center;
  flex-direction: column;
}
._55c31d977d0453b99c63770612844f {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 22.6757%;
  align-items: flex-start;
  background-color: #1f2328;
  background-image:/* webpackIgnore: true */ url('assets/_55c31d977d0453b99c63770612844f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.screenshot2023123At19541 {
  position: absolute;
  left: -127px;
  top: -347px;
  width: 1037px;
  height: 1035px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At19541.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.linkButton3 {
  position: absolute;
  left: 652px;
  top: 290px;
  width: 117.67px;
  height: 36px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #387df5;
}
._190 {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1693px);
  top: 8px;
  width: 90.0086px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.link2 {
  position: absolute;
  left: 808px;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #1f2328;
  overflow: hidden;
}
.divFlex10 {
  position: absolute;
  left: 0;
  right: 0;
  top: 341px;
  height: 100px;
  align-items: flex-start;
  background-color: #2d3139;
}
.divTruncate5 {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 16px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.bla {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 80.1031px;
  height: 21px;
  justify-content: center;
  flex-direction: column;
}
.divLineClamp22 {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 48px;
  height: 36px;
  align-items: flex-start;
  overflow: hidden;
}
.jaakkoEinoKaleviAnnonserteNyli {
  color: #d4d8dd;
  font-size: 12px;
  line-height: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 1px;
  width: 749px;
  height: 40px;
  justify-content: center;
  flex-direction: column;
}
.f24ec465C79f4e8c9e40C7e336bab9 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 22.6757%;
  align-items: flex-start;
  background-color: #1f2328;
  background-image:/* webpackIgnore: true */ url('assets/f24ec465C79f4e8c9e40C7e336bab9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.screenshot2023123At19591 {
  position: absolute;
  left: -29px;
  top: -117px;
  width: 1206px;
  height: 613px;
}
.screenshot2023123At2031 {
  position: absolute;
  left: -87px;
  top: -144px;
  width: 1077px;
  height: 1027px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At2031.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screenshot2023123At2041 {
  position: absolute;
  left: -45px;
  top: -86px;
  width: 915px;
  height: 910px;
  background-image:/* webpackIgnore: true */ url('assets/screenshot2023123At2041.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.linkButton4 {
  position: absolute;
  left: 646px;
  top: 290px;
  width: 117.67px;
  height: 36px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #387df5;
}
._200 {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1693px);
  top: 8px;
  width: 90.0086px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle61 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1624px;
  height: 81px;
  background-color: #16191d;
}
.OsloOpen2025 {
  position: absolute;
  left: 16px;
  top: 23px;
  width: 132px;
  height: 35px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.LoggInn {
  color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -640px);
  top: 30px;
  width: 112px;
  height: 20px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.group21 {
  position: absolute;
  left: 1558px;
  top: 36px;
  width: 19px;
  height: 10px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
